# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# Virtual Environments
# =========================

.env
.env.*
.envrc

.venv/
venv/
env/
ENV/

env.bak/
venv.bak/

# =========================
# Python Build Artifacts
# =========================

build/
dist/
downloads/

.eggs/
*.egg-info/
*.egg

MANIFEST
wheels/

# =========================
# Testing & Coverage
# =========================

.coverage
.coverage.*
.pytest_cache/
.hypothesis/

htmlcov/
.tox/
.nox/

# =========================
# IDE / Editors
# =========================

.vscode/
.idea/

tempCodeRunnerFile.py

# =========================
# Type Checkers / Linters
# =========================

.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Logs
# =========================

*.log

# =========================
# Deployment Artifacts
# =========================

*.zip

# =========================
# Microsoft 365 Agents Toolkit
# =========================

CloudOps Intelligence Copilot/appPackage/build/
CloudOps Intelligence Copilot/env/
CloudOps Intelligence Copilot/.vscode/settings.json

# =========================
# Documentation Build Output
# =========================

docs/_build/
site/

# =========================
# Streamlit
# =========================

.streamlit/secrets.toml